h1 {
  border-bottom: 1px solid darkgray;
  font-size: 23px !important;
  font-weight: bold !important;
}
h2 {
  font-weight: 600;
  margin: 0 0 6px;
  margin-top: 10px;
  font-size: 18px;
}

h3:hover {
  cursor: pointer;
}
p {
  font-size: 14px;
}

input {
  border: none !important;
  margin-top: 10px;
}

.loading {
  font-size: 19px;
  font-weight: bold;
  color: darkblue;
  text-align: center;
  padding: 15px;
}

img {
  height: 200px;
  width: -webkit-fill-available;
  object-fit: contain;
}
