h3 {
  padding: 7px;
  background-color: darkcyan;
  color: white !important;
  margin: 0px;
  font-weight: bold;
  font-size: 13px;
}

.m-0 {
  margin: 3px 0px !important;
  text-align: center;
}

.th {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.td {
  font-weight: 500;
  border: none;
}

.delete-confirmation-actions {
  display: flex;
  justify-content: space-around;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 196px !important;
  height: 254px !important;
}
