<div class="row">
  <div
    class="master-headings q-strip"
    style="width: 100%; font-weight: 900; margin-top: 36px"
    id="btn-add"
  >
    Create User
  </div>
  <div class="col-md-12 defect-min-box">
    <form [formGroup]="createUserForm" (ngSubmit)="onSave()" autocomplete="off">
      <div class="panel q-sm-btm-margin">
        <div class="panel-body q-panel-body">
          <div class="col-md-10 defect-min-box">
            <div class="row">
              <div class="col-md-4">
                <div
                  class="form-group form-animate-text"
                  style="margin-top: 10px !important"
                >
                  <input
                    type="text"
                    class="form-text"
                    id="validate_employeeName"
                    title="Please enter user name"
                    name="validate_employeeName"
                    required
                    formControlName="employeeName"
                  />
                  <span class="bar"></span>
                  <label>Employee Name*</label>
                  <div
                    *ngIf="
                      createUserForm.get('employeeName').errors &&
                      (createUserForm.get('employeeName').dirty ||
                        createUserForm.get('employeeName').touched)
                    "
                    class="form-errors-wrapper"
                  >
                    <div
                      *ngIf="
                        createUserForm.get('employeeName').hasError('required')
                      "
                    >
                      Employee name field is required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('employeeName').hasError('minlength')
                      "
                    >
                      minLength 3 characters required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('employeeName').hasError('maxlength')
                      "
                    >
                      maxLength 40 characters required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('employeeName').hasError('pattern')
                      "
                    >
                      please insert characters only.
                    </div>
                    <span class="bar"></span>
                  </div>
                </div>
              </div>

              <!-- employee name textbox code start here -->

              <!-- employee no textbox code start here -->

              <div class="col-md-4">
                <div
                  class="form-group form-animate-text"
                  style="margin-top: 10px !important"
                >
                  <input
                    type="text"
                    class="form-text"
                    id="validate_employeeno"
                    title="Please enter employee number"
                    name="validate_employeeno"
                    required
                    formControlName="employeeno"
                  />
                  <span class="bar"></span>
                  <label>Employee No*</label>
                  <div
                    *ngIf="
                      createUserForm.get('employeeno').errors &&
                      (createUserForm.get('employeeno').dirty ||
                        createUserForm.get('employeeno').touched)
                    "
                    class="form-errors-wrapper"
                  >
                    <div
                      *ngIf="
                        createUserForm.get('employeeno').hasError('required')
                      "
                    >
                      Employee number field is required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('employeeno').hasError('minlength')
                      "
                    >
                      minLength 3 characters required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('employeeno').hasError('maxlength')
                      "
                    >
                      MaxLength is 20 characters.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('employeeno').hasError('pattern')
                      "
                    >
                      Please enter valid employee number.
                    </div>

                    <span class="bar"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="form-group form-animate-text"
                  style="margin-top: 10px !important"
                >
                  <input
                    type="text"
                    class="form-text"
                    id="validate_emailId"
                    title="Please enter email ID"
                    name="validate_emailId"
                    required
                    formControlName="emailId"
                  />
                  <span class="bar"></span>

                  <label>Email Address*</label>
                  <div
                    *ngIf="
                      createUserForm.get('emailId').errors &&
                      (createUserForm.get('emailId').dirty ||
                        createUserForm.get('emailId').touched)
                    "
                    class="form-errors-wrapper"
                  >
                    <div
                      *ngIf="createUserForm.get('emailId').hasError('required')"
                    >
                      Email address field is requird.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('emailId').hasError('minlength')
                      "
                    >
                      minLength 3 characters required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('emailId').hasError('maxlength')
                      "
                    >
                      MaxLength is 20 characters.
                    </div>
                    <div
                      *ngIf="createUserForm.get('emailId').hasError('pattern')"
                    >
                      {{ "email must be in abc@.com format." }}
                    </div>
                    <span class="bar"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-4">
                <div
                  class="form-group form-animate-text"
                  style="margin-top: 10px !important"
                >
                  <input
                    type="text"
                    class="form-text"
                    id="validate_mobno"
                    title="Please enter mobile number"
                    name="validate_mobno"
                    required
                    formControlName="mobileno"
                  />
                  <span class="bar"></span>
                  <label>Mobile No*</label>
                  <div
                    *ngIf="
                      createUserForm.get('mobileno').errors &&
                      (createUserForm.get('mobileno').dirty ||
                        createUserForm.get('mobileno').touched)
                    "
                    class="form-errors-wrapper"
                  >
                    <div
                      *ngIf="
                        createUserForm.get('mobileno').hasError('required')
                      "
                    >
                      Contact number field is required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('mobileno').hasError('minlength')
                      "
                    >
                      minLength 10 characters required.
                    </div>
                    <div
                      *ngIf="
                        createUserForm.get('mobileno').hasError('maxlength')
                      "
                    >
                      MaxLength is 10 characters.
                    </div>
                    <div
                      *ngIf="createUserForm.get('mobileno').hasError('pattern')"
                    >
                      please insert only digits.
                    </div>
                    <span class="bar"></span>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-4">
                <div>
                  <mat-form-field
                    appearance="fill"
                    style="width: 100%; height: 70px"
                  >
                    <mat-label>Gender</mat-label>
                    <mat-select
                      formControlName="gender"
                      (ngModelChange)="onGenderChange($event)"
                    >
                      <mat-option value="Male"> Male</mat-option>
                      <mat-option value="Female"> Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="col-md-4">
                <div>
                  <mat-form-field
                    appearance="fill"
                    style="width: 100%; height: 70px"
                  >
                    <mat-label> Select Department</mat-label>
                    <mat-select
                      formControlName="deptName"
                      (ngModelChange)="onDepartmentChange($event)"
                    >
                      <mat-option
                        *ngFor="let item of deptListObj"
                        [value]="item.Department_ID"
                      >
                        {{ item.Department_Name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            <!-- </div>

            <div class="row"> -->
              <!-- <div class="col-md-4">
                <mat-form-field
                  appearance="fill"
                  style="width: 100%; height: 70px"
                >
                  <mat-label>Date of Birth</mat-label>
                  <input
                    formControlName="dob"
                    style="border: none !important"
                    matInput
                    [matDatepicker]="picker1"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <div
                  *ngIf="
                    createUserForm.get('dob').errors &&
                    (createUserForm.get('dob').dirty ||
                      createUserForm.get('dob').touched)
                  "
                  class="form-errors-wrapper"
                >
                  <div *ngIf="createUserForm.get('dob').hasError('required')">
                    Date Of Birth field is required.
                  </div>
                  <div *ngIf="createUserForm.get('dob').hasError('minlength')">
                    minLength 3 characters required.
                  </div>
                  <div *ngIf="createUserForm.get('dob').hasError('maxlength')">
                    MaxLength is 20 characters.
                  </div>
                  <span class="bar"></span>
                </div>
              </div> -->
              <div
                class="col-md-4"
                style="margin-top: 10px; text-align: center"
              >
                <mat-radio-group
                  color="primary"
                  formControlName="auditype"
                  aria-label="Select an option"
                  (ngModelChange)="onAuditTypeChange()"
                >
                  <mat-radio-button
                    *ngFor="let type of typelist"
                    [value]="type.Audit_Type_Id"
                  >
                    {{ type.Audit_Type | uppercase }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-4">
                <div>
                  <mat-form-field
                    appearance="fill"
                    style="width: 100%; height: 70px"
                  >
                    <mat-label> Select Plant</mat-label>
                    <mat-select
                      formControlName="plantname"
                      (selectionChange)="onPlantSelect($event)"
                    >
                      <mat-option
                        *ngFor="let plant of plantlist"
                        [value]="plant.Plant_ID"
                        >{{ plant.Plant_Name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div>
                  <mat-form-field
                    appearance="fill"
                    style="width: 100%; height: 70px"
                  >
                    <mat-label> Select shop</mat-label>
                    <mat-select
                      formControlName="shopname"
                      (selectionChange)="selectShop($event)"
                    >
                      <mat-option
                        *ngFor="let shop of shoplist"
                        [value]="shop.Shop_ID"
                        >{{ shop.Shop_Name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <mat-checkbox
                  color="primary"
                  formControlName="isallshops"
                  class="example-margin"
                  >All Shops</mat-checkbox
                >
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="q-btn-div">
              <button class="btn-forsave" type="submit">
                <!-- <i class="fa fa-save" style="padding-right: 15px"></i> -->
                <span> {{ modify ? "Update" : "Save" }} </span>
              </button>
              <a (click)="refresh()" class="btn-forsave bg-refresh" type="btn">
                <!-- <i class="fa fa-refresh" style="padding-right: 15px"></i> -->
                <span> Refresh </span>
              </a>
              <a (click)="exit()" class="btn-forsave bg-exit" type="btn">
                <!-- <i class="fa fa-times-circle-o" style="padding-right: 15px"></i> -->
                <span> Exit </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body defect-min-box">
        <table id="createUserTable" class="display" width="100%"></table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div style="margin-top: 5px" *ngIf="loading">
      <ngx-skeleton-loader
        [theme]="{ height: '40px' }"
        loadingText="Loading Data"
        appearance="line"
        count="4"
        animation="pulse"
      >
      </ngx-skeleton-loader>
    </div>
  </div>
</div>

<!-- DELETE CONFIRMATION MODEL POPUP START -->
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img style="width: 11%" src="assets/images/icons/cross.jpg" alt="" />
        </div>
        <div class="modal-body" style="text-align: center; padding-top: 0px">
          <span style="display: flow; margin-bottom: 8% !important">
            <h4 style="text-align: center; color: red; font-size: 20px">
              Are you sure ?
            </h4>
            <p style="font-size: medium">
              Do you really want to delete this record ? This process cannot be
              undo .
            </p>
          </span>
          <button
            mat-raised-button
            color="warn"
            data-dismiss="modal"
            (click)="DeleteRecord()"
          >
            Delete
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            mat-raised-button
            color="primary"
            data-dismiss="modal"
            (click)="closeDeleteRecord()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
