<div class="row">
  <div class="master-headings q-strip" id="btn-add">Location Master</div>
  <div
    *ngIf="canCreate || modifyFlag"
    class="container"
    style="margin-top: 15px"
  >
    <span class="selection-section">
      <div class="col-md-2 q-full-height shop">
        <h4 class="header-background">Shop</h4>
        <div
          class="flex"
          style="border-bottom: 1px dotted black; display: flex"
        >
          <input
            type="text"
            class="form-control search-input"
            autocomplete="off"
            id="myInput"
            placeholder=" Search Shop"
            [(ngModel)]="searchshopInput"
          />
        </div>
        <div
          class="q-card q-full-height q-scroll addpart dropdown-height"
          style="height: 257px"
        >
          <ul class="q-listbox" id="myUL">
            <li
              style="cursor: pointer; font-size: 12px"
              *ngFor="let shop of shoplist | search : searchshopInput"
              (click)="selectShop(shop)"
              [ngClass]="{ selected: isCurrentShop(shop) }"
            >
              <a style="color: black">{{ shop.Shop_Name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 q-full-height shop model">
        <h4 class="header-background">Model</h4>
        <div
          class="flex"
          style="border-bottom: 1px dotted black; display: flex"
        >
          <input
            type="text"
            class="form-control search-input"
            autocomplete="off"
            id="modelsearchinput"
            placeholder="Search Model"
            [(ngModel)]="searchModelInput"
          />
        </div>
        <div
          class="q-card q-full-height q-scroll addpart dropdown-height"
          style="height: 257px"
        >
          <ul class="q-listbox" id="modelUL">
            <li
              style="cursor: pointer; font-size: 12px"
              *ngFor="let model of modelList | search : searchModelInput"
              (click)="selectModel(model)"
              [ngClass]="{ selected: isCurrentModel(model) }"
            >
              <a style="color: black">{{ model.Model_Code }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 q-full-height shop model">
        <h4 class="header-background">Area</h4>
        <div
          class="flex"
          style="border-bottom: 1px dotted black; display: flex"
        >
          <input
            type="text"
            class="form-control search-input"
            autocomplete="off"
            id="areasearchinput"
            placeholder="Search Area"
            [(ngModel)]="searchAreaInput"
          />
        </div>
        <div
          class="q-card q-full-height q-scroll addpart dropdown-height"
          style="height: 257px"
        >
          <ul class="q-listbox" id="AreaUL">
            <li
              style="cursor: pointer; font-size: 12px"
              *ngFor="let Area of AreaList | search : searchAreaInput"
              (click)="selectArea(Area)"
              [ngClass]="{ selected: isCurrentArea(Area) }"
            >
              <a style="color: black">{{ Area.Area_Name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 q-full-height shop model">
        <h4 class="header-background">Part</h4>
        <div
          class="flex"
          style="border-bottom: 1px dotted black; display: flex"
        >
          <input
            type="text"
            class="form-control search-input"
            autocomplete="off"
            id="searchPartInput"
            placeholder="Search Part"
            [(ngModel)]="searchPartInput"
          />
        </div>
        <div
          class="q-card q-full-height q-scroll addpart dropdown-height"
          style="height: 257px"
        >
          <ul class="q-listbox" id="partUL">
            <li
              style="cursor: pointer; font-size: 12px"
              *ngFor="let Part of partlist | search : searchPartInput"
              (click)="selectPart(Part)"
              [ngClass]="{ selected: isCurrentPart(Part) }"
            >
              <a style="color: black">{{ Part.Part_Name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 q-full-height shop model">
        <h4 class="header-background">Check Point</h4>
        <div
          class="flex"
          style="border-bottom: 1px dotted black; display: flex"
        >
          <input
            type="text"
            class="form-control search-input"
            autocomplete="off"
            id="searchcpInput"
            placeholder="Search Check-Point"
            [(ngModel)]="searchcpInput"
          />
        </div>
        <div
          class="q-card q-full-height q-scroll addpart dropdown-height"
          style="height: 257px"
        >
          <ul class="q-listbox" id="CPUL">
            <li
              style="cursor: pointer; font-size: 12px"
              *ngFor="let CP of cpList | search : searchcpInput"
              (click)="selectCP(CP)"
              [ngClass]="
                selectedCP?.Checkpoint_ID == CP.Checkpoint_ID ? 'selected' : ''
              "
            >
              <a style="color: black">{{ CP.Checkpoint_Name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </span>
    <div class="col-md-4 q-full-height part" style="width: 35%">
      <button
        type="button"
        *ngIf="!newCP && !modifyFlag"
        class="new-part btn-forsave"
        (click)="onNewLocation()"
      >
        New Location
      </button>
      <div class="row">
        <div class="col-md-12" style="padding: 0px">
          <form
            [formGroup]="createLocationForm"
            (ngSubmit)="onAddLocation()"
            class="example-form"
            *ngIf="(newCP && selectedCP) || modifyFlag"
          >
            <div class="row">
              <div class="col-md-8">
                <div
                  class="form-group form-animate-text"
                  style="margin-top: 10px !important"
                >
                  <input
                    autofocus
                    type="text"
                    class="form-text"
                    required
                    formControlName="locationname"
                  />
                  <span class="bar"></span>
                  <label>Location Name *</label>
                  <div
                    *ngIf="
                      createLocationForm.get('locationname').errors &&
                      (createLocationForm.get('locationname').dirty ||
                        createLocationForm.get('locationname').touched)
                    "
                    class="form-errors-wrapper"
                  >
                    <span
                      *ngIf="
                        createLocationForm
                          .get('locationname')
                          .hasError('required')
                      "
                    >
                      Location field is required.
                    </span>
                    <span class="bar"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="form-group form-animate-text"
                  style="margin-top: 10px !important"
                >
                  <input
                    type="number"
                    class="form-text"
                    title="Please enter shop name"
                    required
                    formControlName="sortorder"
                    style="text-align: center"
                  />
                  <span class="bar"></span>
                  <label>Sort Order *</label>
                  <div
                    *ngIf="
                      createLocationForm.get('sortorder').errors &&
                      (createLocationForm.get('sortorder').dirty ||
                        createLocationForm.get('sortorder').touched)
                    "
                    class="form-errors-wrapper"
                  >
                    <span
                      *ngIf="
                        createLocationForm.get('sortorder').hasError('required')
                      "
                    >
                      Sort Order field is required.
                    </span>
                    <span class="bar"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <ng-container *ngIf="!modifyFlag">
                <div
                  class="col-md-4"
                  *ngFor="let para of ParameterList"
                  [class.displaynone]="
                    para.Type == 'Gap'
                      ? !Is_Gap && Is_Flushness
                      : Is_Gap && !Is_Flushness
                  "
                >
                  <div
                    class="form-group form-animate-text"
                    style="margin-top: 10px !important"
                  >
                    <mat-checkbox [formControlName]="para.Type"> </mat-checkbox>
                    {{ para.Type }}
                  </div>
                </div>
                <div class="col-md-4" style="margin-top: 10px">
                  <button
                    type="submit"
                    class="btn-forsave new-part"
                    style="justify-content: center !important"
                  >
                    <i
                      class="fa fa-plus-circle"
                      aria-hidden="true"
                      style="padding-right: 3px"
                    ></i>
                    Add
                  </button>
                </div>
              </ng-container>
              <div
                [ngClass]="Is_Gap && Is_Flushness ? 'col-md-6' : 'col-md-4'"
                *ngIf="modifyFlag"
              >
                <button
                  class="btn-forsave"
                  style="margin-top: 7px"
                  type="button"
                  (click)="updateCP()"
                >
                  Update
                </button>
              </div>
              <div
                [ngClass]="Is_Gap && Is_Flushness ? 'col-md-6' : 'col-md-4'"
                *ngIf="modifyFlag"
              >
                <button
                  class="btn-forsave bg-exit"
                  style="margin-top: 7px"
                  type="button"
                  (click)="refresh()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <table
      *ngIf="!modifyFlag"
        style="margin-top: 10px"
        class="table table-bordered"
       
      >
        <thead>
          <tr>
            <th class="header-background">Location</th>
            <th class="header-background">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loc of locationObject; let i = index">
            <td>{{ loc.Location_Name }}</td>
            <td>
              <span
                style="
                  border-radius: 50% !important;
                  background-color: #0b9494;
                  color: black !important;
                "
                class="btn fa fa-trash deletebutton"
                (click)="removeObject(i)"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row btn-row" *ngIf="locationObject.length > 0 && !modifyFlag">
        <div class="col-md-4">
          <button class="btn-forsave" type="button" (click)="onSave()">
            <span> Save </span>
          </button>
        </div>
        <div class="col-md-4">
          <a (click)="refresh()" class="btn-forsave bg-refresh" type="btn">
            <span> Refresh </span>
          </a>
        </div>
        <div class="col-md-4">
          <a (click)="exit()" class="btn-forsave bg-exit" type="btn">
            <span> Exit </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 30px">
  <div class="col-md-12">
    <input
      type="text"
      style="
        width: 100%;
        border-radius: 13px !important;
        height: 35px;
        text-align: center;
        font-weight: bold;
        border: 1px solid #000 !important;
      "
      placeholder="Search Anything"
      [(ngModel)]="searchInput"
    />
  </div>
  <!-- <div class="col-md-2" style="display: flex; justify-content: center">
      <button (click)="downloadExcel()" class="btn-forsave bg-refresh m-0 wp-80" type="button">
        <i class="fa fa-download"></i><span> Download Data</span>
      </button>
    </div> -->
  <!-- <div class="col-md-2" style="display: flex; justify-content: center">
      <button type="button" *ngIf="!modifyFlag" class="btn-forsave m-0 wp-80" (click)="uploadExcel()">
        <i class="fa fa-upload"></i> <span>Upload Excel</span>
      </button>
    </div> -->
</div>
<div
  style="border-top: 1px dotted gray"
  class="row m-0"
  *ngIf="LocationList?.length > 0"
>
  <div class="col-md-12" style="margin-top: 10px; padding: 0">
    <div class="table-container">
      <table style="margin-top: 10px" class="table table-bordered">
        <thead class="sticky-header">
          <tr>
            <th class="header-background">Shop</th>
            <th class="header-background">Model</th>
            <th class="header-background">Area</th>
            <th class="header-background">Part</th>
            <th class="header-background">Check Point</th>
            <th class="header-background">Location</th>
            <th class="header-background">Type</th>
            <th class="header-background">Sort Order</th>
            <th class="header-background">Status</th>
            <th class="header-background" style="width: 11%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of LocationList | search : searchInput;
              trackBy: trackForLoop;
              let i = index
            "
          >
            <td>{{ item.Shop_Name }}</td>
            <td>{{ item.Model_Name }}</td>
            <td>{{ item.Area_Name }}</td>
            <td>{{ item.Part_Name }}</td>
            <td>{{ item.Checkpoint_Name }}</td>
            <td>{{ item.Location_Name }}</td>
            <td>
              {{
                item.Is_Gap && item.Is_Flushness
                  ? "Gap/Flush"
                  : item.Is_Gap
                  ? "Gap"
                  : item.Is_Flushness
                  ? "Flush"
                  : "No Type"
              }}
            </td>
            <td>{{ item.SORTORDER }}</td>
            <td>
              <mat-checkbox
                [color]="item.Is_Active ? 'success' : 'danger'"
                (click)="onStatusChange(item)"
                [(ngModel)]="item.Is_Active"
              >
                <span
                  style="font-weight: bold; font-size: 12px"
                  [style]="
                    item.Is_Active ? { color: 'green' } : { color: 'red' }
                  "
                  >{{ item.Status }}</span
                >
              </mat-checkbox>
            </td>
            <td>
              <span
                style="
                  border-radius: 50% !important;
                  background-color: #0b9494;
                  color: black !important;
                "
                class="btn fa fa-pencil"
                (click)="modifySelected(item.Location_ID)"
              ></span>
              <span
                style="
                  border-radius: 50% !important;
                  background-color: #d74f4f;
                  color: black !important;
                "
                class="btn fa fa-trash deletebutton"
                (click)="DeleteRecord(item.Location_ID)"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div style="margin-top: 5px" *ngIf="loading">
      <ngx-skeleton-loader
        [theme]="{ height: '40px' }"
        loadingText="Loading Data"
        appearance="line"
        count="4"
        animation="pulse"
      >
      </ngx-skeleton-loader>
    </div>
  </div>
</div>
