.banner {
  background: url(/assets/images/logo-black.png);
  /* background: url(/PQEST/assets/images/logo-black.png); */
  height: 730px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.red {
  color: red;
}
.logo1 {
  width: 293px;
  height: 92px;
  margin-left: -12px;
}
.panel {
  width: 307px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 22px;
}
.btn btn-primary:hover {
  background-color: red;
}

.form-group {
  margin-left: 100%;
}
.panel {
  width: 307px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 22px;
  border: 3px solid rgb(158, 15, 37);
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0px !important;
  }
}
/*   
  
  @media screen and (min-width: 768px) {
        .container
        {
          margin: 0px!important;
          margin-left: 10%!important;
  
        }
  } */

.container {
  text-align: center;
  margin: 0px !important;
  justify-content: center;
  display: flex;
  height: fit-content;
  width: 100%;
}
