.machine-cycle-container > div {
    margin: 0;
}

.cycle-step-container {
    display: block;
    position: relative;
    border: 3px solid #d4d4d4;
    text-align: center;
}

    .cycle-step-container p {
        margin: 0;
        line-height: 2.1em;
        font-size: 0.85em;
        font-weight: bold;
    }

.cycle-arrow-down > div {
    width: 52%;
    height: 27px;
    border-right: 3px solid #d4d4d4;
}

#MinorStoppagesCycleContainer .nav-tabs-custom {
    min-height: 500px;
    padding-bottom: 21px;
}

.cycle-step-container .fault-check-box {
    position: absolute;
    width: 120%;
    left: 100%;
    top: -3px;
    display: none;
}
.fault-check-box > div {
    display: inline-block;
    float: left;
}

.fault-check-box .cycle-arrow-right {
    width: 10%;
}

.fault-check-box .fault-check-title {
    width: 90%;
    border: 3px solid #d4d4d4;
}

.fault-check-box .fault-check-title > a {
    border-bottom: 1px solid #eaeaea;
    display:block;
}

.fault-check-box .cycle-arrow-right > div {
    width: 100%;
    height: 15px;
    border-bottom: 3px solid #d4d4d4;
}

.io-nok:after {
    content: "\f00d";
    position: absolute;
    color: #FF0000;
    width: 0;
    height: 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3.9em;
    top: -3px;
    left: 3px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    z-index: 10;
    -webkit-animation-name: fadeinfadeout;
    animation-name: fadeinfadeout;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: initial;
    animation-timing-function: initial;
}

.io-ok:after {
    content: "\f00c";
    position: absolute;
    color: #FF0000;
    width: 0;
    height: 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3.9em;
    top: -3px;
    left: 3px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    z-index: 10;
}

.bg-faulty {
    background: #ff2d27;
}
.fault-alarms-container{
    position:fixed;
    left:42%;
}
.fault-alarms-container .active-fault-alarms{
    padding:10px;
    overflow-y:scroll;
    max-height:80vh;
}
.active-fault-alarms > div{
    margin-bottom:10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border:1px solid #333;
}
.active-fault-alarms > div h5{
    padding:5px;
    font-weight:bold;
    margin:0;
}
.active-fault-alarms > div a{
    color:#191919;
}
.panel-gray{
    border:3px solid #d4d4d4;
}
.panel-gray>.panel-heading {
color: #333;
background-color: #d4d4d4;
border-color: #d4d4d4;
}