<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ msg }}</title>
  </head>

  <body> -->
<div class="center"></div>
<div id="particles-background" class="vertical-centered-box"></div>
<div id="particles-foreground" class="vertical-centered-box"></div>

<div class="vertical-centered-box">
  <div class="content">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
      <div class="loader-line"></div>
    </div>
    <img
      src="assets/loadingScreen/car.png"
      style="margin-top: 114%; width: 64px"
    />
  </div>
</div>
<!-- </body>
</html> -->
