USE [QualityModule]
GO
/****** Object:  Table [dbo].[MM_Qlty_BuyOfftoSource]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_BuyOfftoSource](
	[BuyofftoSourceId] [int] NOT NULL,
	[BuyoffCodeId] [int] NULL,
	[SourceId] [int] NULL,
	[IndicatorType] [nvarchar](5) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_BuyOfftoSource] PRIMARY KEY CLUSTERED 
(
	[BuyofftoSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_DefectToLocation]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_DefectToLocation](
	[DefectToLocationId] [int] NOT NULL,
	[DefectId] [int] NULL,
	[LocationId] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_DefectToLocation] PRIMARY KEY CLUSTERED 
(
	[DefectToLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Line_Master]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Line_Master](
	[Line_ID] [numeric](18, 0) NOT NULL,
	[Line_Name] [nchar](100) NULL,
 CONSTRAINT [PK_MM_Qlty_Line_Master] PRIMARY KEY CLUSTERED 
(
	[Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Mstr_BuyOff]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Mstr_BuyOff](
	[BuyoffCode] [int] NOT NULL,
	[Station_ID] [numeric](18, 0) NULL,
	[SourceId] [int] NULL,
	[Stage] [nvarchar](100) NULL,
	[Is_QDMS_Station] [bit] NULL,
	[Is_Report_Station] [bit] NULL,
	[Host_Name] [nvarchar](100) NULL,
	[SortOrder] [int] NULL,
	[Is_Online] [bit] NULL,
	[Is_Offline] [bit] NULL,
	[Is_TesterLine] [bit] NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_Mstr_BuyOff] PRIMARY KEY CLUSTERED 
(
	[BuyoffCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Mstr_Defect]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Mstr_Defect](
	[Defect_ID] [numeric](18, 0) NOT NULL,
	[Defect_Name] [nvarchar](100) NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_Mstr_Defect] PRIMARY KEY CLUSTERED 
(
	[Defect_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Mstr_DefectLocation]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Mstr_DefectLocation](
	[Location_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Location_Name] [nvarchar](100) NULL,
	[SORTORDER] [int] NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_Mstr_DefectLocation] PRIMARY KEY CLUSTERED 
(
	[Location_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Mstr_Part]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Mstr_Part](
	[PartNo] [int] NOT NULL,
	[Part_Name] [nchar](100) NULL,
 CONSTRAINT [PK_MM_Qlty_Mstr_Part] PRIMARY KEY CLUSTERED 
(
	[PartNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Mstr_Severity]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Mstr_Severity](
	[Quality_Severity_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Severity_Name] [nvarchar](100) NULL,
	[Severity_Desc] [nchar](100) NULL,
	[Sort_Order] [int] NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Transferred] [bit] NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_Mstr_Severity] PRIMARY KEY CLUSTERED 
(
	[Quality_Severity_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Mstr_Stage]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Mstr_Stage](
	[Stage_ID] [int] NOT NULL,
	[Stage_Name] [nvarchar](100) NULL,
	[BuyoffCode] [int] NULL,
	[SortOrder] [int] NULL,
	[Is_Active] [bit] NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_Mstr_Stage] PRIMARY KEY CLUSTERED 
(
	[Stage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_PartToDefect]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_PartToDefect](
	[PartToDefectId] [int] NOT NULL,
	[PartNo] [int] NULL,
	[DefectId] [numeric](18, 0) NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_PartToDefect] PRIMARY KEY CLUSTERED 
(
	[PartToDefectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_StagetoPart]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_StagetoPart](
	[StageToPartId] [int] NOT NULL,
	[StageId] [int] NULL,
	[PartNo] [int] NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
 CONSTRAINT [PK_MM_Qlty_StagetoPart] PRIMARY KEY CLUSTERED 
(
	[StageToPartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MM_Qlty_Station_Master]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MM_Qlty_Station_Master](
	[Station_ID] [numeric](18, 0) NOT NULL,
	[Station_Name] [nchar](100) NULL,
 CONSTRAINT [PK_MM_Qlty_Station_Master] PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partwise_Defect_Master]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partwise_Defect_Master](
	[Row_ID] [int] NOT NULL,
	[BODYSRNO] [nvarchar](20) NULL,
	[QDATE] [datetime] NULL,
	[QTIME] [datetime] NULL,
	[SHIFT] [char](1) NULL,
	[QDMS_STN] [varchar](5) NULL,
	[Sorce_ID] [int] NULL,
	[BuyoffCode] [int] NULL,
	[Stage_ID] [int] NULL,
	[Part_ID] [int] NULL,
	[IND] [nvarchar](2) NULL,
	[PART] [varchar](30) NULL,
	[Defect_ID] [numeric](18, 0) NULL,
	[DEFECT_STATUS] [bit] NULL,
	[DEFECT_CATEGORY] [char](4) NULL,
	[Location_ID] [numeric](18, 0) NULL,
	[Severity_ID] [numeric](18, 0) NULL,
	[REWORK_STATUS] [bit] NULL,
	[REWORK_DURATION] [int] NULL,
	[REWORKED_BY] [varchar](15) NULL,
	[REWORK_DATE] [date] NULL,
	[REMARKS] [varchar](50) NULL,
	[Plant_ID] [numeric](18, 0) NULL,
	[Shop_ID] [numeric](18, 0) NULL,
	[Line_ID] [numeric](18, 0) NULL,
	[Is_Purgeable] [bit] NULL,
	[Is_Edited] [bit] NULL,
	[Is_Deleted] [bit] NULL,
	[Inserted_Host] [nvarchar](100) NULL,
	[Inserted_User_ID] [numeric](18, 0) NULL,
	[Inserted_Date] [datetime] NULL,
	[Updated_Host] [nvarchar](100) NULL,
	[Updated_User_ID] [numeric](18, 0) NULL,
	[Updated_Date] [datetime] NULL,
	[Inserted_HostRework] [nvarchar](100) NULL,
	[Inserted_User_IDRework] [numeric](18, 0) NULL,
	[Inserted_DateRework] [datetime] NULL,
	[Updated_HostRework] [nvarchar](100) NULL,
	[Updated_User_IDRework] [numeric](18, 0) NULL,
	[Updated_DateRework] [datetime] NULL,
	[VinNo] [varchar](17) NULL,
	[Shift_ID] [numeric](18, 0) NULL,
	[BWT_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Partwise_Defect_Master] PRIMARY KEY CLUSTERED 
(
	[Row_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[severity]    Script Date: 05-01-2018 11:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[severity](
	[severityId] [numeric](18, 0) NULL,
	[severityName] [varchar](50) NULL,
	[severitydesc] [nchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MM_Qlty_BuyOfftoSource]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_BuyOfftoSource_MM_Qlty_BuyOfftoSource] FOREIGN KEY([BuyofftoSourceId])
REFERENCES [dbo].[MM_Qlty_BuyOfftoSource] ([BuyofftoSourceId])
GO
ALTER TABLE [dbo].[MM_Qlty_BuyOfftoSource] CHECK CONSTRAINT [FK_MM_Qlty_BuyOfftoSource_MM_Qlty_BuyOfftoSource]
GO
ALTER TABLE [dbo].[MM_Qlty_BuyOfftoSource]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_BuyOfftoSource_MM_Qlty_Mstr_BuyOff] FOREIGN KEY([SourceId])
REFERENCES [dbo].[MM_Qlty_Mstr_BuyOff] ([BuyoffCode])
GO
ALTER TABLE [dbo].[MM_Qlty_BuyOfftoSource] CHECK CONSTRAINT [FK_MM_Qlty_BuyOfftoSource_MM_Qlty_Mstr_BuyOff]
GO
ALTER TABLE [dbo].[MM_Qlty_DefectToLocation]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_DefectToLocation_MM_Qlty_DefectToLocation] FOREIGN KEY([DefectToLocationId])
REFERENCES [dbo].[MM_Qlty_DefectToLocation] ([DefectToLocationId])
GO
ALTER TABLE [dbo].[MM_Qlty_DefectToLocation] CHECK CONSTRAINT [FK_MM_Qlty_DefectToLocation_MM_Qlty_DefectToLocation]
GO
ALTER TABLE [dbo].[MM_Qlty_DefectToLocation]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_DefectToLocation_MM_Qlty_Mstr_DefectLocation] FOREIGN KEY([LocationId])
REFERENCES [dbo].[MM_Qlty_Mstr_DefectLocation] ([Location_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_DefectToLocation] CHECK CONSTRAINT [FK_MM_Qlty_DefectToLocation_MM_Qlty_Mstr_DefectLocation]
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_BuyOff]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_Mstr_BuyOff_MM_Qlty_Line_Master] FOREIGN KEY([Line_ID])
REFERENCES [dbo].[MM_Qlty_Line_Master] ([Line_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_BuyOff] CHECK CONSTRAINT [FK_MM_Qlty_Mstr_BuyOff_MM_Qlty_Line_Master]
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_BuyOff]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_Mstr_BuyOff_MM_Qlty_Station_Master] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[MM_Qlty_Station_Master] ([Station_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_BuyOff] CHECK CONSTRAINT [FK_MM_Qlty_Mstr_BuyOff_MM_Qlty_Station_Master]
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_DefectLocation]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_Mstr_DefectLocation_MM_Qlty_Line_Master1] FOREIGN KEY([Line_ID])
REFERENCES [dbo].[MM_Qlty_Line_Master] ([Line_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_DefectLocation] CHECK CONSTRAINT [FK_MM_Qlty_Mstr_DefectLocation_MM_Qlty_Line_Master1]
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_Severity]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_Mstr_Severity_MM_Qlty_Line_Master] FOREIGN KEY([Line_ID])
REFERENCES [dbo].[MM_Qlty_Line_Master] ([Line_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_Severity] CHECK CONSTRAINT [FK_MM_Qlty_Mstr_Severity_MM_Qlty_Line_Master]
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_Severity]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_Mstr_Severity_MM_Qlty_Line_Master1] FOREIGN KEY([Line_ID])
REFERENCES [dbo].[MM_Qlty_Line_Master] ([Line_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_Severity] CHECK CONSTRAINT [FK_MM_Qlty_Mstr_Severity_MM_Qlty_Line_Master1]
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_Stage]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_Mstr_Stage_MM_Qlty_Mstr_BuyOff] FOREIGN KEY([BuyoffCode])
REFERENCES [dbo].[MM_Qlty_Mstr_BuyOff] ([BuyoffCode])
GO
ALTER TABLE [dbo].[MM_Qlty_Mstr_Stage] CHECK CONSTRAINT [FK_MM_Qlty_Mstr_Stage_MM_Qlty_Mstr_BuyOff]
GO
ALTER TABLE [dbo].[MM_Qlty_PartToDefect]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_PartToDefect_MM_Qlty_Mstr_Part] FOREIGN KEY([PartNo])
REFERENCES [dbo].[MM_Qlty_Mstr_Part] ([PartNo])
GO
ALTER TABLE [dbo].[MM_Qlty_PartToDefect] CHECK CONSTRAINT [FK_MM_Qlty_PartToDefect_MM_Qlty_Mstr_Part]
GO
ALTER TABLE [dbo].[MM_Qlty_PartToDefect]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_PartToDefect_MM_Qlty_PartToDefect] FOREIGN KEY([DefectId])
REFERENCES [dbo].[MM_Qlty_Mstr_Defect] ([Defect_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_PartToDefect] CHECK CONSTRAINT [FK_MM_Qlty_PartToDefect_MM_Qlty_PartToDefect]
GO
ALTER TABLE [dbo].[MM_Qlty_StagetoPart]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_StagetoPart_MM_Qlty_Mstr_Part] FOREIGN KEY([PartNo])
REFERENCES [dbo].[MM_Qlty_Mstr_Part] ([PartNo])
GO
ALTER TABLE [dbo].[MM_Qlty_StagetoPart] CHECK CONSTRAINT [FK_MM_Qlty_StagetoPart_MM_Qlty_Mstr_Part]
GO
ALTER TABLE [dbo].[MM_Qlty_StagetoPart]  WITH CHECK ADD  CONSTRAINT [FK_MM_Qlty_StagetoPart_MM_Qlty_Mstr_Stage] FOREIGN KEY([StageId])
REFERENCES [dbo].[MM_Qlty_Mstr_Stage] ([Stage_ID])
GO
ALTER TABLE [dbo].[MM_Qlty_StagetoPart] CHECK CONSTRAINT [FK_MM_Qlty_StagetoPart_MM_Qlty_Mstr_Stage]
GO
